{% extends "dashboard/base_generic.html" %}
{% block content %}
    {% if registros.exists %}
    <div class="table-responsive">
        <h3>Registro recientes</h3>
        <table class="table table-borderless text-white align-middle">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>RUT</th>
                    <th>Motivo</th>
                </tr>
            </thead>
            <tbody>
                {% for r in registros %}
                <tr>
                    <td>{{ r.fecha }}</td>
                    <td>{{ r.hora }}</td>
                    <td>{{ r.responsable.rut }}</td>
                    <td>{{ r.motivo }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <p class="empty">No hay registros todavía.</p>
    {% endif %}
{% endblock %}